body {
    background-color: rgba(255, 255, 255, 0.384);
    font-family: 'Instrument Sans', sans-serif;
}
  
h1 {
    color: black;
    text-align: center;
    font-size: 55px;
    border: solid;
    width: 70rem;
    margin-left: 17rem;
    background-color: #454764be;
    color: azure;
}

#content {
      background-color: white;
      /* width: 45rem;
      margin-left: 35rem; */
}

.button {
      background-color: #667172c7;
      border: solid;
      color: azure;
      /* padding: 15px 32px; */
      width: 25rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 45px;
      margin-left: 45rem;
      margin-top: 2rem;
}

.image {
      margin-left: 37rem;
      margin-top: 5rem;
}

label{
    font-size: 40px;
}

input {
    height: 2rem;
}

select {
    font-size: 20px;
}

p {
    font-size: 30px;
    text-align: center;
}

#confirmation {
    text-align: center;
    font-size: 35px;
    background-color: rgba(128, 128, 128, 0.479);
    width: 40%;
    margin-left: 35rem;
    border: solid;
}

#sub {
    background-color: blanchedalmond;
}

#ret {
    background-color: rgb(224, 177, 158);
}

#err {
    background-color: rgba(217, 104, 104, 0.716);
    height: 40rem;
}

#rent {
    background-color: rgba(144, 199, 156, 0.659);
}
