<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="err">
        <h1>Error</h1>

        <p><b>This license plate # is already registered as a rental</b></p>
        <p><b>Please check the details you have entered and try again</b></p>

        <p><a href="/">HOME</a></p>
    </div>

</body>

</html>