<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>


<body>
    <div id="content">
        <h1>Welcome to the CMSC335 Car Rental Service</h1>
    </div>

    <a href="/rent" class="button">RENT</a><br>
    <a href="/return" class="button">RETURN</a><br>
    <a href="/submit" class="button">SUBMIT CAR</a><br>

    <img class = "image" src="mercedes.jpg" alt="car">

</body>

</html>
