<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Rent a Car</h1>

    <form action="/processRental" method="post">
        <fieldset>
            <label><b>Name:</b> <input type="text" name="name" required/></label><br><br>
			<label><b>Email Address:</b> <input type="email" name="email" required></label><br><br>
            <label><b>City:</b> <input type="text" name="city" required/></label><br><br>
            <label><b>From:</b> <input type="date" id="from" name="from" value="" required></label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><b>To:</b> <input type="date" id="to" name="to" value="" required></label>
            <br><br>
            <label><b>Select a car:</b></label><br>
            <select name="car" id="car" required>
                <%- cars %>
            </select>
        </fieldset><br>

        <input type="Reset" />
		<input onclick ="return confirm('Are you sure you want to confirm this rental?')" type="submit" value="Submit"/>
    </form>

</body>

</html>