<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Rent a Car</h1>

    <form action="http://localhost:5000/processRental" method="post">
        <fieldset>
            <label><b>Name:</b> <input type="text" name="name"/></label><br><br>
			<label><b>Email Address:</b> <input type="email" name="email"></label><br><br>
            <label><b>City:</b> <input type="text" name="city"/></label><br><br>
            <label><b>From:</b> <input type="date" id="from" name="from" value=""></label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><b>To:</b> <input type="date" id="to" name="to" value=""></label>
            <br><br>
            <label><b>Select a car:</b></label><br>
            <select name="car" id="car">
                <%- cars %>
            </select>
        </fieldset><br>

        <input type="Reset" />
		<input onclick ="return confirm('Are you sure you want to confirm this rental?')" type="submit" value="Submit"/>
    </form>

</body>

</html>