<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Submit a Car</h1>

    <form action="/processSubmit" method="post">
        <fieldset>
            <label><b>Make:</b> <input type="text" name="make" required/></label><br><br>
			<label><b>Model:</b> <input type="text" name="model" required></label><br><br>
            <label><b>Year:</b> <input type="text" name="year" required/></label><br><br>
            <label><b>License Plate:</b> <input type="text" name="licensePlate" required/></label><br><br>
        </fieldset><br>

        <input type="Reset" />
		<input onclick ="return confirm('Are you sure you want to confirm this rental?')" type="submit" value="Submit"/>
    </form>

</body>

</html>