<!DOCTYPE html>
<html lang = "en">


<head>
    <meta charset="utf-8">
    <title>CMSC335 Car Rental</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="sub">
        <h1>Confirmation of Car Submission</h1>

        <p><b>You have successfully submit your car as a rental vehicle!</b></p>
        <p><b>Below is your confirmation:</b></p>
    
        <div id = "confirmation">
            <strong>Make: </strong><%- make %><br><br>
            <strong>Model: </strong><%- model %><br><br>
            <strong>Year: </strong><%- year %><br><br>
            <strong>License Plate: </strong><%- licPlate %><br><br>
        </div>
    
        <p>For any questions, please contact rentalSupport@cmsc335rental.com</p>
    
        <p><b>THANK YOU</b></p>
    
        <p><a href="/">HOME</a></p>
    
    </div>
</body>

</html>